body {
  background-color: #292929;
}

#root {
  margin: 24px 18px;
}

.buttons-row {
  text-align: center;
}

button {
  font-family: monospace, monospace;
  cursor: pointer;
  color: black;
  border: none;
  font-size: 24px;
  margin: 8px;
}

button#spiral {
  background-color: #292929;
  border: 2px solid blueviolet;
  color: white;
}

button#triangles {
  background-color: #292929;
  border: 2px solid rgb(250, 250, 60);
  color: white;
}

button#circle {
  background-color: #292929;
  border: 2px solid rgb(250, 41, 40);
  color: white;
}

button#drag {
  background-color: #292929;
  border: 2px solid rgb(238, 238, 238);
  color: white;
}

button#forest {
  background-color: #292929;
  border: 2px solid #4D65A1;
  color: white;
}

#canvas {
  border: 1px solid gray;
  margin: auto;
}

#container > div {
  text-align: center;
}
